## Preprocessing

In [ ]:
# pip install tensorflow

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df = application_df[application_df.STATUS == 1]

In [3]:
comp_name_df = application_df[['EIN','NAME']]
comp_name_df.head()

        EIN                                      NAME
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN','NAME', 'STATUS','SPECIAL_CONSIDERATIONS'])

In [5]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [6]:
# Determine the number of unique values in each column.
cat_name_list = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_df[cat_name_list].nunique()

APPLICATION_TYPE    17
AFFILIATION          6
CLASSIFICATION      71
USE_CASE             5
ORGANIZATION         4
INCOME_AMT           9
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
unique_values = application_df['APPLICATION_TYPE'].value_counts()
unique_values

T3     27032
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = unique_values[unique_values < 200].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27032
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
class_value_counts = application_df['CLASSIFICATION'].value_counts()
class_value_counts

C1000    17323
C2000     6073
C1200     4837
C3000     1918
C2100     1882
         ...
C1728        1
C3700        1
C1732        1
C4120        1
C8210        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_value_counts[class_value_counts < 200].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17323
C2000     6073
C1200     4837
C3000     1918
C2100     1882
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [11]:
application_df[cat_name_list].nunique()

APPLICATION_TYPE    9
AFFILIATION         6
CLASSIFICATION      8
USE_CASE            5
ORGANIZATION        4
INCOME_AMT          9
dtype: int64

In [12]:
# # Create a OneHotEncoder instance to convert categorical data to numeric
enc = OneHotEncoder(sparse = False)

In [13]:
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[cat_name_list]))

encode_df.columns = enc.get_feature_names(input_features = cat_name_list)

encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# merge back to orginal df and drop original unencoded columns
encoded_charity_df  = application_df.merge(encode_df, left_index = True, right_index = True)\
                                .drop(columns = cat_name_list)

encoded_charity_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Split our preprocessed data into our features and target arrays
y = encoded_charity_df['IS_SUCCESSFUL'].values
X = encoded_charity_df.drop(columns = ['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input = len(X_train_scaled[0])
num_first = len(X_train_scaled[0])*2
num_second = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=num_first, input_dim = num_input, activation ='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = num_second, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 84)                3612

 dense_1 (Dense)             (None, 50)                4250

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 7,913
Trainable params: 7,913
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 1s 749us/step - loss: 0.6861 - accuracy: 0.5605
Epoch 2/200
804/804 [==============================] - 1s 751us/step - loss: 0.6808 - accuracy: 0.5701
Epoch 3/200
804/804 [==============================] - 1s 712us/step - loss: 0.6795 - accuracy: 0.5742
Epoch 4/200
804/804 [==============================] - 1s 723us/step - loss: 0.6790 - accuracy: 0.5756
Epoch 5/200
804/804 [==============================] - 1s 717us/step - loss: 0.6783 - accuracy: 0.5765
Epoch 6/200
804/804 [==============================] - 1s 809us/step - loss: 0.6779 - accuracy: 0.5770
Epoch 7/200
804/804 [==============================] - 1s 739us/step - loss: 0.6779 - accuracy: 0.5745
Epoch 8/200
804/804 [==============================] - 1s 722us/step - loss: 0.6774 - accuracy: 0.5787
Epoch 9/200
804/804 [==============================] - 1s 734us/step - loss: 0.6772 - accuracy: 0.5774
Epoch 10/200
804/804 [==============================] - 1s 773us/step - loss: 0.6767 - accuracy: 0.5770
Epoch 11/200
804/804 [==============================] - 1s 753us/step - loss: 0.6768 - accuracy: 0.5760
Epoch 12/200
804/804 [==============================] - 1s 816us/step - loss: 0.6761 - accuracy: 0.5795
Epoch 13/200
804/804 [==============================] - 1s 835us/step - loss: 0.6760 - accuracy: 0.5793
Epoch 14/200
804/804 [==============================] - 1s 792us/step - loss: 0.6756 - accuracy: 0.5807
Epoch 15/200
804/804 [==============================] - 1s 852us/step - loss: 0.6754 - accuracy: 0.5801
Epoch 16/200
804/804 [==============================] - 1s 786us/step - loss: 0.6754 - accuracy: 0.5807
Epoch 17/200
804/804 [==============================] - 1s 744us/step - loss: 0.6748 - accuracy: 0.5839
Epoch 18/200
804/804 [==============================] - 1s 789us/step - loss: 0.6743 - accuracy: 0.5802
Epoch 19/200
804/804 [==============================] - 1s 744us/step - loss: 0.6741 - accuracy: 0.5831
Epoch 20/200
804/804 [==============================] - 1s 746us/step - loss: 0.6740 - accuracy: 0.5815
Epoch 21/200
804/804 [==============================] - 1s 738us/step - loss: 0.6737 - accuracy: 0.5810
Epoch 22/200
804/804 [==============================] - 1s 761us/step - loss: 0.6734 - accuracy: 0.5835
Epoch 23/200
804/804 [==============================] - 1s 753us/step - loss: 0.6731 - accuracy: 0.5850
Epoch 24/200
804/804 [==============================] - 1s 750us/step - loss: 0.6728 - accuracy: 0.5824
Epoch 25/200
804/804 [==============================] - 1s 765us/step - loss: 0.6728 - accuracy: 0.5836
Epoch 26/200
804/804 [==============================] - 1s 754us/step - loss: 0.6725 - accuracy: 0.5831
Epoch 27/200
804/804 [==============================] - 1s 788us/step - loss: 0.6721 - accuracy: 0.5865
Epoch 28/200
804/804 [==============================] - 1s 763us/step - loss: 0.6720 - accuracy: 0.5845
Epoch 29/200
804/804 [==============================] - 1s 761us/step - loss: 0.6716 - accuracy: 0.5846
Epoch 30/200
804/804 [==============================] - 1s 817us/step - loss: 0.6715 - accuracy: 0.5847
Epoch 31/200
804/804 [==============================] - 1s 759us/step - loss: 0.6710 - accuracy: 0.5853
Epoch 32/200
804/804 [==============================] - 1s 766us/step - loss: 0.6707 - accuracy: 0.5855
Epoch 33/200
804/804 [==============================] - 1s 779us/step - loss: 0.6709 - accuracy: 0.5853
Epoch 34/200
804/804 [==============================] - 1s 770us/step - loss: 0.6703 - accuracy: 0.5869
Epoch 35/200
804/804 [==============================] - 1s 805us/step - loss: 0.6704 - accuracy: 0.5859
Epoch 36/200
804/804 [==============================] - 1s 801us/step - loss: 0.6698 - accuracy: 0.5864
Epoch 37/200
804/804 [==============================] - 1s 763us/step - loss: 0.6698 - accuracy: 0.5861
Epoch 38/200
804/804 [==============================] - 1s 777us/step - loss: 0.6696 - accuracy: 0.5854
Epoch 39/200
804/804 [==============================] - 1s 776us/step - loss: 0.6695 - accuracy: 0.5861
Epoch 40/200
804/804 [==============================] - 1s 771us/step - loss: 0.6689 - accuracy: 0.5869
Epoch 41/200
804/804 [==============================] - 1s 781us/step - loss: 0.6692 - accuracy: 0.5865
Epoch 42/200
804/804 [==============================] - 1s 765us/step - loss: 0.6690 - accuracy: 0.5870
Epoch 43/200
804/804 [==============================] - 1s 771us/step - loss: 0.6690 - accuracy: 0.5874
Epoch 44/200
804/804 [==============================] - 1s 802us/step - loss: 0.6688 - accuracy: 0.5880
Epoch 45/200
804/804 [==============================] - 1s 774us/step - loss: 0.6683 - accuracy: 0.5873
Epoch 46/200
804/804 [==============================] - 1s 797us/step - loss: 0.6682 - accuracy: 0.5873
Epoch 47/200
804/804 [==============================] - 1s 781us/step - loss: 0.6681 - accuracy: 0.5873
Epoch 48/200
804/804 [==============================] - 1s 784us/step - loss: 0.6680 - accuracy: 0.5882
Epoch 49/200
804/804 [==============================] - 1s 800us/step - loss: 0.6683 - accuracy: 0.58730s - loss: 0.6678 - accu
Epoch 50/200
804/804 [==============================] - 1s 804us/step - loss: 0.6676 - accuracy: 0.5868
Epoch 51/200
804/804 [==============================] - 1s 775us/step - loss: 0.6672 - accuracy: 0.5879
Epoch 52/200
804/804 [==============================] - 1s 787us/step - loss: 0.6676 - accuracy: 0.5870
Epoch 53/200
804/804 [==============================] - 1s 800us/step - loss: 0.6673 - accuracy: 0.5872
Epoch 54/200
804/804 [==============================] - 1s 769us/step - loss: 0.6672 - accuracy: 0.5878
Epoch 55/200
804/804 [==============================] - 1s 773us/step - loss: 0.6670 - accuracy: 0.5889
Epoch 56/200
804/804 [==============================] - 1s 769us/step - loss: 0.6667 - accuracy: 0.5892
Epoch 57/200
804/804 [==============================] - 1s 768us/step - loss: 0.6668 - accuracy: 0.5893
Epoch 58/200
804/804 [==============================] - 1s 763us/step - loss: 0.6662 - accuracy: 0.5885
Epoch 59/200
804/804 [==============================] - 1s 775us/step - loss: 0.6665 - accuracy: 0.5886
Epoch 60/200
804/804 [==============================] - 1s 759us/step - loss: 0.6664 - accuracy: 0.5889
Epoch 61/200
804/804 [==============================] - 1s 765us/step - loss: 0.6663 - accuracy: 0.5885
Epoch 62/200
804/804 [==============================] - 1s 883us/step - loss: 0.6659 - accuracy: 0.5894
Epoch 63/200
804/804 [==============================] - 1s 898us/step - loss: 0.6667 - accuracy: 0.5880
Epoch 64/200
804/804 [==============================] - 1s 864us/step - loss: 0.6661 - accuracy: 0.5894
Epoch 65/200
804/804 [==============================] - 1s 860us/step - loss: 0.6656 - accuracy: 0.5893
Epoch 66/200
804/804 [==============================] - 1s 905us/step - loss: 0.6651 - accuracy: 0.5893
Epoch 67/200
804/804 [==============================] - 1s 871us/step - loss: 0.6653 - accuracy: 0.5899
Epoch 68/200
804/804 [==============================] - 1s 864us/step - loss: 0.6658 - accuracy: 0.5907
Epoch 69/200
804/804 [==============================] - 1s 859us/step - loss: 0.6650 - accuracy: 0.5892
Epoch 70/200
804/804 [==============================] - 1s 893us/step - loss: 0.6658 - accuracy: 0.5895
Epoch 71/200
804/804 [==============================] - 1s 855us/step - loss: 0.6655 - accuracy: 0.5890
Epoch 72/200
804/804 [==============================] - 1s 865us/step - loss: 0.6672 - accuracy: 0.5889
Epoch 73/200
804/804 [==============================] - 1s 862us/step - loss: 0.6650 - accuracy: 0.5896
Epoch 74/200
804/804 [==============================] - 1s 859us/step - loss: 0.6645 - accuracy: 0.5887
Epoch 75/200
804/804 [==============================] - 1s 881us/step - loss: 0.6648 - accuracy: 0.5896
Epoch 76/200
804/804 [==============================] - 1s 851us/step - loss: 0.6649 - accuracy: 0.5890
Epoch 77/200
804/804 [==============================] - 1s 857us/step - loss: 0.6647 - accuracy: 0.5899
Epoch 78/200
804/804 [==============================] - 1s 886us/step - loss: 0.6645 - accuracy: 0.5906
Epoch 79/200

804/804 [==============================] - 1s 844us/step - loss: 0.6640 - accuracy: 0.5895
Epoch 80/200
804/804 [==============================] - 1s 853us/step - loss: 0.6644 - accuracy: 0.5896
Epoch 81/200
804/804 [==============================] - 1s 857us/step - loss: 0.6646 - accuracy: 0.5902
Epoch 82/200
804/804 [==============================] - 1s 847us/step - loss: 0.6645 - accuracy: 0.5904
Epoch 83/200
804/804 [==============================] - 1s 833us/step - loss: 0.6654 - accuracy: 0.5898
Epoch 84/200
804/804 [==============================] - 1s 832us/step - loss: 0.6645 - accuracy: 0.5897
Epoch 85/200
804/804 [==============================] - 1s 834us/step - loss: 0.6640 - accuracy: 0.5917
Epoch 86/200
804/804 [==============================] - 1s 862us/step - loss: 0.6641 - accuracy: 0.5895
Epoch 87/200
804/804 [==============================] - 1s 859us/step - loss: 0.6641 - accuracy: 0.5909
Epoch 88/200
804/804 [==============================] - 1s 850us/step - loss: 0.6638 - accuracy: 0.5889
Epoch 89/200
804/804 [==============================] - 1s 858us/step - loss: 0.6638 - accuracy: 0.5909
Epoch 90/200
804/804 [==============================] - 1s 846us/step - loss: 0.6641 - accuracy: 0.5908
Epoch 91/200
804/804 [==============================] - 1s 855us/step - loss: 0.6639 - accuracy: 0.5913
Epoch 92/200
804/804 [==============================] - 1s 864us/step - loss: 0.6635 - accuracy: 0.5887
Epoch 93/200
804/804 [==============================] - 1s 872us/step - loss: 0.6634 - accuracy: 0.5890
Epoch 94/200
804/804 [==============================] - 1s 862us/step - loss: 0.6642 - accuracy: 0.5894
Epoch 95/200
804/804 [==============================] - 1s 915us/step - loss: 0.6635 - accuracy: 0.5913
Epoch 96/200
804/804 [==============================] - 1s 866us/step - loss: 0.6636 - accuracy: 0.5899
Epoch 97/200
804/804 [==============================] - 1s 863us/step - loss: 0.6639 - accuracy: 0.5907
Epoch 98/200
804/804 [==============================] - 1s 863us/step - loss: 0.6637 - accuracy: 0.5902
Epoch 99/200
804/804 [==============================] - 1s 884us/step - loss: 0.6635 - accuracy: 0.5893
Epoch 100/200
804/804 [==============================] - 1s 878us/step - loss: 0.6635 - accuracy: 0.5897
Epoch 101/200
804/804 [==============================] - 1s 902us/step - loss: 0.6631 - accuracy: 0.5906
Epoch 102/200
804/804 [==============================] - 1s 888us/step - loss: 0.6633 - accuracy: 0.5899
Epoch 103/200
804/804 [==============================] - 1s 905us/step - loss: 0.6633 - accuracy: 0.5907
Epoch 104/200
804/804 [==============================] - 1s 903us/step - loss: 0.6629 - accuracy: 0.5909
Epoch 105/200
804/804 [==============================] - 1s 924us/step - loss: 0.6631 - accuracy: 0.5917
Epoch 106/200
804/804 [==============================] - 1s 901us/step - loss: 0.6633 - accuracy: 0.5898
Epoch 107/200
804/804 [==============================] - 1s 913us/step - loss: 0.6629 - accuracy: 0.5917
Epoch 108/200
804/804 [==============================] - 1s 909us/step - loss: 0.6629 - accuracy: 0.5918
Epoch 109/200
804/804 [==============================] - 1s 983us/step - loss: 0.6636 - accuracy: 0.5915
Epoch 110/200
804/804 [==============================] - 1s 928us/step - loss: 0.6633 - accuracy: 0.5910
Epoch 111/200
804/804 [==============================] - 1s 919us/step - loss: 0.6634 - accuracy: 0.5915
Epoch 112/200
804/804 [==============================] - 1s 939us/step - loss: 0.6630 - accuracy: 0.5914
Epoch 113/200
804/804 [==============================] - 1s 941us/step - loss: 0.6633 - accuracy: 0.5904
Epoch 114/200
804/804 [==============================] - 1s 940us/step - loss: 0.6626 - accuracy: 0.5916
Epoch 115/200
804/804 [==============================] - 1s 955us/step - loss: 0.6622 - accuracy: 0.5911
Epoch 116/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6623 - accuracy: 0.5919
Epoch 117/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6626 - accuracy: 0.5912
Epoch 118/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5911
Epoch 119/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6622 - accuracy: 0.5913
Epoch 120/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6630 - accuracy: 0.5923
Epoch 121/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6622 - accuracy: 0.5910
Epoch 122/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6623 - accuracy: 0.5925
Epoch 123/200
804/804 [==============================] - 1s 984us/step - loss: 0.6625 - accuracy: 0.5913
Epoch 124/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6628 - accuracy: 0.5907
Epoch 125/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6624 - accuracy: 0.5919
Epoch 126/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6617 - accuracy: 0.5913
Epoch 127/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6618 - accuracy: 0.5918
Epoch 128/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6620 - accuracy: 0.5910
Epoch 129/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6621 - accuracy: 0.5929
Epoch 130/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6626 - accuracy: 0.5910
Epoch 131/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6617 - accuracy: 0.5917
Epoch 132/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6649 - accuracy: 0.5917
Epoch 133/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6621 - accuracy: 0.5929
Epoch 134/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6614 - accuracy: 0.5917
Epoch 135/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6619 - accuracy: 0.5929
Epoch 136/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6619 - accuracy: 0.5912
Epoch 137/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6614 - accuracy: 0.5915
Epoch 138/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6620 - accuracy: 0.5906
Epoch 139/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6617 - accuracy: 0.5911
Epoch 140/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6616 - accuracy: 0.5925
Epoch 141/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6613 - accuracy: 0.5911
Epoch 142/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6612 - accuracy: 0.5929
Epoch 143/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6618 - accuracy: 0.5919
Epoch 144/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6623 - accuracy: 0.5914
Epoch 145/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6613 - accuracy: 0.5931
Epoch 146/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6614 - accuracy: 0.5923
Epoch 147/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6613 - accuracy: 0.5922
Epoch 148/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6631 - accuracy: 0.5918
Epoch 149/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6615 - accuracy: 0.5926
Epoch 150/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6615 - accuracy: 0.5919
Epoch 151/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6608 - accuracy: 0.5910
Epoch 152/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6614 - accuracy: 0.5929
Epoch 153/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6610 - accuracy: 0.5922
Epoch 154/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6614 - accuracy: 0.5913
Epoch 155/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6612 - accuracy: 0.5937
Epoch 156/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6613 - accuracy: 0.5914
Epoch 157/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6616 - accuracy: 0.5921
Epoch 158/200

804/804 [==============================] - 1s 1ms/step - loss: 0.6606 - accuracy: 0.5936
Epoch 159/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6605 - accuracy: 0.5919
Epoch 160/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6609 - accuracy: 0.5931
Epoch 161/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6616 - accuracy: 0.5922
Epoch 162/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6605 - accuracy: 0.5934
Epoch 163/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6610 - accuracy: 0.5918
Epoch 164/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6609 - accuracy: 0.5929
Epoch 165/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6609 - accuracy: 0.5928
Epoch 166/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6613 - accuracy: 0.5929
Epoch 167/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6617 - accuracy: 0.5933
Epoch 168/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6612 - accuracy: 0.5924
Epoch 169/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6608 - accuracy: 0.5939
Epoch 170/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6606 - accuracy: 0.5920
Epoch 171/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6605 - accuracy: 0.5942
Epoch 172/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6605 - accuracy: 0.5934
Epoch 173/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6606 - accuracy: 0.5929
Epoch 174/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6607 - accuracy: 0.5936
Epoch 175/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6609 - accuracy: 0.5932
Epoch 176/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6632 - accuracy: 0.5935
Epoch 177/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6617 - accuracy: 0.5937
Epoch 178/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6607 - accuracy: 0.5921
Epoch 179/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6602 - accuracy: 0.5926
Epoch 180/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6600 - accuracy: 0.5934
Epoch 181/200
804/804 [==============================] - 1s 991us/step - loss: 0.6605 - accuracy: 0.5927
Epoch 182/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6605 - accuracy: 0.5921
Epoch 183/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6601 - accuracy: 0.5927
Epoch 184/200
804/804 [==============================] - 1s 964us/step - loss: 0.6608 - accuracy: 0.5945
Epoch 185/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6604 - accuracy: 0.5927
Epoch 186/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6629 - accuracy: 0.5918
Epoch 187/200
804/804 [==============================] - 1s 969us/step - loss: 0.6613 - accuracy: 0.5932
Epoch 188/200
804/804 [==============================] - 1s 953us/step - loss: 0.6606 - accuracy: 0.5935
Epoch 189/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6602 - accuracy: 0.5930
Epoch 190/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6600 - accuracy: 0.5937
Epoch 191/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6612 - accuracy: 0.5931
Epoch 192/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6599 - accuracy: 0.5938
Epoch 193/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6599 - accuracy: 0.5934
Epoch 194/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6599 - accuracy: 0.5926
Epoch 195/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6601 - accuracy: 0.5937
Epoch 196/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6599 - accuracy: 0.5931
Epoch 197/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6596 - accuracy: 0.5943
Epoch 198/200
804/804 [==============================] - 1s 1ms/step - loss: 0.6595 - accuracy: 0.5938
Epoch 199/200
804/804 [==============================] - 1s 985us/step - loss: 0.6604 - accuracy: 0.5922
Epoch 200/200
804/804 [==============================] - 1s 938us/step - loss: 0.6596 - accuracy: 0.5918

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7561 - accuracy: 0.5685 - 275ms/epoch - 1ms/step
Loss: 0.7560544013977051, Accuracy: 0.5685291290283203

In [24]:
# Export our model to HDF5 file
nn.save_weights('my_model.hdf5')